:root{
    --bk-height: 320px;
    --bk-width: 240px;
    --bk-inner-width: 235px;
    --bk-inner-height: 310px;
    --bk-text-padding: 30px;
    --bk-corners-rnd: 3px;
    --bk-side-width: 30px;
    --bk-transition: transform .5s;
    --bk-clr-shdw: rgba(0, 0, 0, 0.1);
}


.bk-div {
    height: fit-content;
    width: fit-content;
    display: grid;
    gap: 1rem;
    justify-items: center;
}

.bk-book {
    height: var(--bk-height);
    width: var(--bk-width);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    transition: var(--bk-transition);
}

.bk-book>div,
.bk-front>div {
    display: block;
    position: absolute;
}


.bk-front {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform .5s;
    transition: var(--bk-transition);
    -webkit-transform: translate3d(0, 0, calc(0.5 * var(--bk-side-width)));
    transform: translate3d(0, 0, calc(0.5 * var(--bk-side-width)));
    z-index: 10;
}

.bk-front>div {
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.bk-page {
    -webkit-transform: translate3d(0, 0, calc(calc(var(--bk-side-width)/2)-1px));
    transform: translate3d(0, 0, calc(calc(var(--bk-side-width)/2)-1px));
    display: none;
    width: var(--bk-inner-width);
    height: var(--bk-inner-height);
    top: calc(calc(var(--bk-height) - var(--bk-inner-height))/2);
    left: 1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 9;
}

.bk-front>div,
.bk-back,
.bk-front {
    width: var(--bk-width);
    height: var(--bk-height);
}

.bk-top,
.bk-bottom {
    width: var(--bk-inner-width);
    height: var(--bk-side-width);
    top: -15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bk-back {
    -webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, calc(0.5 * var(--bk-side-width)));
    transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, calc(0.5 * var(--bk-side-width)));
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: var(--bk-corners-rnd) 0 0 var(--bk-corners-rnd);
}

.bk-cover-back {
    background: #000;
    -webkit-transform: rotate3d(0, 1, 0, -179deg);
    transform: rotate3d(0, 1, 0, -179deg);
}

.bk-right {
    height: var(--bk-inner-height);
    top: calc(calc(var(--bk-height) - var(--bk-inner-height)) / 2);
    -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, var(--bk-inner-width));
    -moz-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, var(--bk-inner-width));
    transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, var(--bk-inner-width));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bk-right,
.bk-left {
    width: var(--bk-side-width);
    left: calc(-0.5 * var(--bk-side-width));
}

.bk-left {
    height: var(--bk-height);
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
}

.bk-top {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg);
}

.bk-bottom {
    -webkit-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, var(--bk-inner-height));
    transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, var(--bk-inner-height));
}

/* book transform  classes*/
.bk-book:hover {
    -webkit-transform: rotate3d(0, 1, 0, 35deg);
    transform: rotate3d(0, 1, 0, 35deg);
}

.bk-viewinside .bk-front {
    -webkit-transform: translate3d(0, 0, calc(0.5 * var(--bk-side-width))) rotate3d((0, 1, 0, -160deg));
    transform: translate3d(0, 0, calc(0.5 * var(--bk-side-width))) rotate3d(0, 1, 0, -160deg);
}

.bk-book.bk-viewinside {
    /* keep from hover behvaiour when the book is open */
    -webkit-transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
    transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
}

.bk-book.bk-viewback {
    -webkit-transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
    transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
}

/* colors and content */

.bk-page,
.bk-right,
.bk-top,
.bk-bottom {
    background-color: #fff;
}

.bk-front>div {
    border-radius: 0 var(--bk-corners-rnd) var(--bk-corners-rnd) 0;
    box-shadow: inset 4px 0 10px var(--bk-clr-shdw);
}

.bk-front::after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}

.bk-cover::after,
.bk-back::after {
    --bind-crease-spacing: 10px;
    --bind-crease-width: 3px;

    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: var(--bind-crease-width);
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-back::after {
    left: auto;
    right: var(--bind-crease-spacing);
}

.bk-left>h2 {
    width: var(--bk-height);
    height: var(--bk-side-width);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(calc(-1 * var(--bk-side-width)));
    transform: rotate(90deg) translateY(calc(-1 * var(--bk-side-width)));

    color: white;
    font-size: 15px;
    line-height: var(--bk-side-width);
    padding-right: 10px;
    text-align: right;
}

.bk-page {
    box-shadow: 2px 0 2px 0 black, inset 9px 0 8px -8px rgb(100, 100, 100);
    clip-path: inset(0 0 0 1px);
}

.bk-page .bk-content {
    position: absolute;
    top: 30px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    padding: var(--bk-text-padding);
    pointer-events: none;
}

.bk-page .bk-content .bk-quote {
    text-align: center;
    font-style: italic;
}

.bk-page .bk-content .bk-quote::before,
.bk-page .bk-content .bk-quote::after {
    position: absolute;
    color: grey;
    font-size: 36px;
}

.bk-page .bk-content .bk-quote::before {
    content: '\201C';
    left: 0;
    top: 0;
}

.bk-page .bk-content .bk-quote::after {
    content: '\201E';
    right: 0;
}

.bk-front .bk-cover h2 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    top: 10%;
    left: 10%;
    padding: var(--bk-text-padding);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-shadow: 0 -1px 0 var(--bk-clr-shdw);
}

.bk-front .bk-cover h2 span:first-child {
    display: block;
}

.bk-front .bk-cover h2 span:first-child,
.bk-left h2 span:first-child {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    padding-right: 20px;
}

.bk-back>p {
    color: #fff;
    font-size: 13px;
    padding: var(--bk-text-padding);
    text-align: center;
    font-weight: 700;
}

.bk-book,
.bk-front>div,
.bk-back,
.bk-left,
.bk-front::after {
    background-color: #ff924a;
}


/* buttons */
.info-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:.5rem;
}

.info-div > button {
    background-color: #fff;
    padding: 0.2em 0.5em;
    border: none;
    border-radius: 3px;
}

.info-div > button:hover {
    background-color: rgb(185, 184, 184);
}

.info-div > button:active {
    background-color: rgb(100, 100, 100);
}