/* VARS */
/* @font-face {
    font-family: "Brass Mono";
    src: url("./fonts/BrassMonoComfortableRegular-XmYK.woff") format("woff"), url("./fonts/BrassMonoCozyRegular-g146.woff") format("woff"), url("./fonts/BrassMonoRegular-o2Yz.woff"), url("woff");
}

@font-face {
    font-family: "Mostly Mono";
    src: url("./fonts/MostlyMono-nr4P.woff") format("woff");
}

@font-face {
    font-family: "Select Mono";
    src: url("./fonts/SelectMonoItalic-ywm8d.woff") format("woff");
} */


:root{
    --nav-min-width:40px;
    --nav-expanded-width: 250px;
    --side-min-width: 70px;
    --side-expanded-width:310px;
    --footer-height:100px;

    --border-rd-400: 15px;
    --drop-shdw-700:1px 1px 1px rgb(45, 45, 45);
    --accent-clr-300:rgb(120, 120, 120);

    --side-width:var(--side-expanded-width);
    --nav-width: var(--nav-expanded-width);
    --size-300:.5rem;
    --padding-300:.5rem;
    --padding-400:1rem;
    --padding-700:3rem;

    --post-it-size:250px;
    --post-it-spacing: 10px;

    --trans-400: .4s ease-in-out;
    --trans-all-400: all var(--trans-400);
}



/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    width: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    /* display: block; */
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* GENERAL STYLING */

body{
    display: grid;
}

.flex-container {
    display: flex;
    width: 100%;
    max-width: 100vw;
}

/* SIDEBAR */
.sidebar{
    --_bar-spacing:1em;
    --nav-toggle-size:50px;
    --_nav-img-size:30px;

    height: 100%;
    min-width: var(--nav-width);
    width: var(--nav-width) ;
    background: rgba(200, 200, 200) linear-gradient(90deg, rgba(120,120,120,0.5),rgba(200,200,200,0.5),rgba(255,255,255,0.5) 30%, rgba(255, 255, 255, 0.5) 70%,rgba(200, 200, 200,0.5),rgba(120, 120, 120,0.5));

    padding: var(--_bar-spacing) 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--_bar-spacing);
    transition: var(--trans-all-400);
    -webkit-transition: var(--trans-all-400);
    -moz-transition: var(--trans-all-400);
}

.sidebar>button{
    all: unset;
    cursor: pointer;
}

.sidebar > ul{
    display: grid;
    gap: inherit;
    list-style: none;
}

.sidebar li>a, .sidebar>button{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    justify-content: left;
    gap: var(--_bar-spacing);

    text-decoration: none;
    color: black;
    transition: var(--trans-all-400);
    -webkit-transition: var(--trans-all-400);
    -moz-transition: var(--trans-all-400);
}

.sidebar>button>img#nav-toggle-img{
    content:url("./img/open-book.svg");
    height: var(--nav-toggle-size);
    width: var(--nav-toggle-size);
}

.sidebar>button[data-collapsed]>img#nav-toggle-img {
    content: url("./img/close-book.svg");
}

.sidebar .nav-img{
    height: var(--_nav-img-size);
    width: var(--_nav-img-size);
}

.sidebar .page-name,
.sidebar>button>span {
    display: inline-block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
}

.sidebar > .nav-toggle[data-collapsed] >span,
.sidebar>.nav-toggle[data-collapsed] + ul .page-name{
    opacity: 0;
    position: absolute;
    left: var(--nav-min-width);
    transition: opacity 0s;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
}

.sidebar>.nav-toggle[data-collapsed]:hover,
.sidebar>.nav-toggle[data-collapsed]+ul a>img:hover{
    scale: 1.2;
}

.sidebar>.nav-toggle[data-collapsed] + ul {
    gap: 1.5em;
}

.sidebar > .nav-toggle[data-collapsed] + ul li>a,
.sidebar>.nav-toggle[data-collapsed] {
    grid-template-columns: var(--nav-min-width) 0;
    gap: 0;
}

/* FOOTER */
.website-footer{
    min-height: fit-content;
    height: var(--footer-height);
    background-color: rgb(148, 152, 152);
}

/* HEADER AND MAIN */
.container{
    height: auto;
    display: grid;
    flex-grow: 1;
    overflow-x: hidden;
    grid-template-rows: clamp(min-content, 1fr, 300px) minmax(min-content, 4fr);
}

/* HEADER */
.primary-header{
    --_header-spacing-400: 1rem;
    grid-row: 1;
    background-color: rgb(191, 233, 233);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--_header-spacing-400);
}

.header-A{
    display: grid;
}

.header-A .logo{
    font-size: 3rem;
}

.header-B{
    display: grid;
    gap: var(--_header-spacing-400);
    justify-items: center;
}

.header-B > .top-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: var(--_header-spacing-400);
    justify-content: center;
    align-items: center;
}



/* search button */
form.search-bar{
    --_search-icn-size:1.5rem;
    display: flex;
    gap: 0.2em;

    min-height: calc(var(--_search-icn-size)*1.5);
    height: 1rem;
    min-width: min(40ch, 100%);
    max-width: 55ch;
}
input[type="search"].search-input{
    --_hover-style:italic;
    flex-grow: 1;
    border-radius: var(--border-rd-400);
    padding: var(--size-300) 0.5em;
}

form.search-bar:focus-within{
    height: 3rem;
}

input[type="search"].search-input,
.search-submit{
    border: none;
    outline: none;
    background: none;
}

input[type="search"].search-input:focus{
    border: 1px solid var(--accent-clr-300);
}

input[type="search"]::placeholder{
    color: var(--accent-clr-300);
    font-style: var(--_hover-style); 
}

input[type="search"]::-webkit-input-placeholder {
    color: var(--accent-clr-300);
    font-style: var(--_hover-style); 
}

input[type="search"]:-ms-input-placeholder {
    color: var(--accent-clr-300) !important;
    font-style: var(--_hover-style) !important;
}

.search-submit>img {
    height: var(--_search-icn-size);
}

.search-submit:hover>img{
    filter: drop-shadow(var(--drop-shdw-700));
    -webkit-filter: drop-shadow(var(--drop-shdw-700));
}

.search-submit:focus>img{
    filter: drop-shadow(0 0 1px red);
    -webkit-filter: drop-shadow(0 0 1px red);
}


/* theme toggle button */
.header-B .website-theme{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
}

.dropdown-content[data-visible]{
    display: grid;
    background-color: #fff;
    border-radius: var(--border-rd-400);
    padding: var(--size-300);
    gap: var(--size-300);
}

.dropdown-content > span{
    --_theme-icn-size:1.3em;
    display: flex;
    align-items: center;
    gap: var(--size-300);
    min-width: max-content;
    cursor: pointer;
}


.dropdown-content > span::before{
    content: '';
    height: var(--_theme-icn-size);
    width: var(--_theme-icn-size);
}

.dropdown-content>span[data-checked]::before {
    content: url('./img/check.svg');
}


/* MAIN */
main{
    display: grid;
    grid-template-columns: 3fr var(--side-width);
    transition: var(--trans-all-400);
    -webkit-transition: var(--trans-all-400);
    -moz-transition: var(--trans-all-400);
}

/* BOOKS */
/* separate file for .bk-div styling >> books.css */

.books {
    grid-column: 1;
    /* background: url('./img/pexels-photomix-company-518245.jpg') repeat-y;  
    background-size: 100%; */
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--bk-width), 1fr));
    grid-template-rows: min-content;
    grid-auto-rows: auto;
    padding: var(--padding-400);
    row-gap: var(--padding-700);
    column-gap: var(--padding-400);
    justify-items: center;
    justify-content: center;
    position: relative;
    
}

.books::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/jon-tyson-Vl9u94L3NTQ-unsplash.jpg') repeat-y;
    filter: grayscale(1) saturate(.2) invert(1);
    
    background-size: 100%;
}

.books > h3 {
    grid-column: 1/-1;
    grid-row: 1;
}


/* ASIDE MAIN CONTAINER */

.aside-main {
    padding: var(--padding-400) 0 var(--padding-700) 0;
    transition: var(--trans-all-400);
    -webkit-transition: var(--trans-all-400);
    -moz-transition: var(--trans-all-400);
}

.aside-main .aside-header {
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    grid-area: 1/2;
    line-height: 1em;
}

.aside-main > .aside-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: var(--padding-300);
    column-gap: var(--padding-400);
    width: 100%;
}

.aside-main button.tab-toggle {
    --tab-btn-size:2rem;

    grid-area: 1/1;
    background: none;
    border: none;
    height: var(--tab-btn-size);
    width: var(--tab-btn-size);
    cursor: pointer;
    display: none;
}

button.tab-toggle > img {
    height: 100%;
    width: 100%;
    filter: drop-shadow(var(--drop-shdw-700));
    -webkit-filter: drop-shadow(var(--drop-shdw-700));
}

button.tab-toggle.announcements-toggle {
    display: block;
}

.aside-main[data-collapsed] > :not(.aside-grid-container) {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
}

.aside-main[data-collapsed] .left-arrow {
    transform: translateX(var(--side-expanded-width));
    -webkit-transform: translateX(var(--side-expanded-width));
    -moz-transform: translateX(var(--side-expanded-width));
}

.aside-main> :not(.aside-grid-container) {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transition: transform var(--trans-400);
    -webkit-transition: -webkit-transform var(--trans-400);
    -moz-transition: -moz-transform var(--trans-400);
}

.aside-main[data-collapsed]{
    padding: initial;
    justify-content: center;
    height: var(--side-expanded-width);
}

.aside-main[data-collapsed] .aside-grid-container {
    height: fit-content;
    transform: rotate(90deg) translate(50%);
    -webkit-transform: rotate(90deg) translate(50%);
    -moz-transform: rotate(90deg) translate(50%);
}

.aside-main[data-collapsed] button.tab-toggle>img {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

/* ANOUNCEMENTS */
.announcements{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
    position: relative;
}

.post-it{
    width: var(--post-it-size);
    height: var(--post-it-size);
    background: #ff7eb9;
    border: solid #ff65a3;
    float: left;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    scroll-snap-align: start;
    font-family: var(--ff-announcements); 
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.post-it-inner {
    margin: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    font-size: .875rem;
}

.post-it-inner h3 {
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    margin-bottom: .5em;
}

.post-it-inner p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-it-inner button.post-it-link-btn {
    background: none;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.post-it-inner button.post-it-link-btn:hover{
    font-weight: 700;
}

.announcements-container{
    max-width: calc(var(--post-it-size) + var(--post-it-spacing));
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--post-it-size);
    grid-template-rows: calc(var(--post-it-size) + var(--post-it-spacing));
    gap: var(--post-it-spacing);
    padding: 0 var(--post-it-spacing);
    overscroll-behavior-x: contain;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.announcements-container::-webkit-scrollbar{
    display: none;
}

.thumbnails-container {
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnails-container .thumbnail {
    --_thumbnail-size: 10px;
    height: var(--_thumbnail-size);
    width: var(--_thumbnail-size);
    background-color: #ff7eb9;
    cursor: pointer;
}

.thumbnails-container .thumbnail.highlighted {
    background-color: black;
}

button.left-arrow,
button.right-arrow {
    --_arrow-position: calc(((100% - var(--post-it-size)) / 2) - 17px);
    position: absolute;
    top: 45%;
    background: transparent;
    border: none;
}

button.right-arrow > img, 
button.left-arrow > img {
    --_hover-move-dis:3px;
    --_arrow-height: 50px;

    height: var(--_arrow-height);
    filter: drop-shadow(var(--drop-shdw-700));
    -webkit-filter: drop-shadow(var(--drop-shdw-700));
    transition: var(--trans-all-400);
    -webkit-transition: var(--trans-all-400);
    -moz-transition: var(--trans-all-400);
    cursor: pointer;
}

button.left-arrow {
    left: var(--_arrow-position);
}

button.right-arrow {
    right: var(--_arrow-position);
}

button.right-arrow:hover>img,
button.left-arrow:hover>img {
    scale:1.2;
    transform:translateX(var(--_hover-move-dis));
    -webkit-transform:translateX(var(--_hover-move-dis));
    -moz-transform:translateX(var(--_hover-move-dis));

}

button.left-arrow:hover>img {
    transform: translateX(calc(-1* var(--_hover-move-dis)));
    -webkit-transform: translateX(calc(-1* var(--_hover-move-dis)));
    -moz-transform: translateX(calc(-1* var(--_hover-move-dis)));
}

button.right-arrow:disabled >img,
button.right-arrow:disabled:hover >img,
button.left-arrow:disabled >img,
button.left-arrow:disabled:hover >img {
    filter: brightness(.8) drop-shadow(var(--drop-shdw-700));
    -webkit-filter: brightness(.8) drop-shadow(var(--drop-shdw-700));
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    scale: none;
    cursor: default;
    height: calc(var(--_arrow-height) - 10px);
}


/* RECOMMENDATION */
.daily-recommendation{
    display: grid;
    justify-items: center;
}

.recommendation-text {
    width: var(--post-it-size);
    text-align: center;
}

.recommendation-preview {
    margin-top:var(--padding-300);
    cursor: pointer;
}

/* recommendation-modal */
.recommendation-modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    /* the first bg-color is a fallback */
}

.recommendation-modal > .modal-content{
    background-color: #fff;
    margin: auto auto;
    border: 1px solid;
    width: 60%;
    min-height: fit-content;
    position: relative;
    display: grid;
    grid-template-rows: min-content auto;
    justify-items: center;
    row-gap: var(--padding-400);
    overflow: auto;
    text-align: center;
    padding: var(--padding-300) 0 var(--padding-400) 0;
}

.recommendation-modal[data-visible]{
    display: grid;
}

.modal-content > .close {
    background-color: transparent;
    font-size: 3rem;
    font-weight: 500;
    cursor: pointer;

    position: absolute;    
    top: calc(-1 * var(--padding-400));
    right: var(--padding-300);
}

.modal-content > .modal-header {
    font-size: 2rem;
    grid-area: 1/1;
}

.modal-content > .recommendation-book {
    grid-area: 2/1;
    height: fit-content;
}


/* UTILITIES */

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.rnd-btn {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.3rem var(--size-300);
    box-shadow: 0 0 1px 1px white;
    border-radius: var(--border-rd-400);
}

.rnd-btn:hover{
    background: rgba(255, 255, 255, 0.8);
}

.shadow-hover:hover {
    filter: drop-shadow(var(--drop-shdw-700));
    -webkit-filter: drop-shadow(var(--drop-shdw-700));
}


/* MEDIA QUERIES */

@media (max-width:50em){
    .primary-header{
        grid-template-columns: 1fr;
    }

    .primary-header .header-A,
    .primary-header .header-B {
        justify-content: center;
    }

    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    
    .aside-main-container {
        grid-area: 1/1;
    }

    .books{
        grid-area: 2 / 1;
    }

    .aside-main > .aside-grid-container > button.tab-toggle {
        display: block;
        margin-left: var(--padding-400);
    }

    .aside-main>.aside-grid-container>button.tab-toggle >img {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }

    .aside-main[data-collapsed] {
        height: min-content;
        padding: initial;
        justify-content: stretch;
        display: grid;
    }

    .aside-main[data-collapsed] .aside-grid-container {
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    
    .aside-main[data-collapsed] > :not(.aside-grid-container){
        display: none;
    }

    .aside-main[data-collapsed] button.tab-toggle > img {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
    }

    .recommendation-modal > .modal-content {
        min-height: fit-content;
        width: 95%;
    }

    .modal-content > .modal-header {
        margin-top: var(--padding-300);
    } 
}
 
@media (max-width:420px) {
    .header-B .top-container{
        grid-template-columns: max-content max-content;
    }

    .header-B .top-container a:first-of-type{
        grid-column: 1/3;
    }
}