/* VARS */

:root{
    --nav-min-width:40px;
    --border-rd-400: 15px;
    --drop-shdw-700:1px 1px 1px rgb(45, 45, 45);
    --accent-clr-300:rgb(120, 120, 120);

    --size-300:.5rem;
}



/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    width: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    /* display: block; */
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* GENERAL STYLING */

body{
    display: grid;
    grid-template-columns: var(--nav-min-width) 4fr;
}

/* SIDEBAR */
.sidebar{
    --_bar-spacing:1em;
    --nav-toggle-size:50px;
    --_nav-img-size:30px;

    grid-column: 1;
    grid-row: 1/-2;
    background-color: antiquewhite;
    padding: var(--_bar-spacing) 0;

    display: flex;
    flex-direction: column;
    gap: var(--_bar-spacing);
    align-items: center;
} 

.sidebar>button{
    all: unset;
    cursor: pointer;
}

.sidebar > ul{
    display: grid;
    gap: inherit;
    list-style: none;
}

.sidebar li>a, .sidebar>button{
    display: flex;
    align-items: center;
    gap: var(--_bar-spacing);
    text-decoration: none;
    color: black;
}

.sidebar>button>img#nav-toggle-img{
    content:url("./img/close-book.svg");
    height: var(--nav-toggle-size);
    width: var(--nav-toggle-size);
}

.sidebar>button[data-expanded]>img#nav-toggle-img {
    content: url("./img/open-book.svg");
}


.sidebar .nav-img{
    height: var(--_nav-img-size);
    width: var(--_nav-img-size);
}

.sidebar li>a:hover, .sidebar button:hover{
    filter: drop-shadow(var(--drop-shdw-700));
}

.sidebar .page-name,
.sidebar>button>span {
    display: none;
}

.sidebar > .nav-toggle[data-expanded] >span,
.sidebar>.nav-toggle[data-expanded] + ul .page-name{
    display: inline-block;
}

/* FOOTER */
.website-footer{
    grid-column: 1/-1;
    grid-row: -1;
    background-color: rgb(148, 152, 152);
}

/* HEADER AND MAIN */
.container{
    height: auto;
    display: grid;
    grid-template-rows: 1fr minmax(min-content, 4fr);
}

/* HEADER */
.primary-header{
    --_header-spacing-400: 1rem;
    grid-row: 1;
    background-color: rgb(191, 233, 233);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--_header-spacing-400);
}

.header-A{
    display: grid;
}

.header-A .logo{
    font-size: 3rem;
}

.header-B{
    display: grid;
    gap: var(--_header-spacing-400);
    justify-items: center;
}

.header-B > .top-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: var(--_header-spacing-400);
    justify-content: center;
    align-items: center;
}



/* search button */
form.search-bar{
    --_search-icn-size:1.5rem;
    display: flex;
    gap: 0.2em;

    min-height: calc(var(--_search-icn-size)*1.5);
    height: 1rem;
    min-width: min(40ch, 100%);
    max-width: 55ch;
}
input[type="search"].search-input{
    --_hover-style:italic;
    flex-grow: 1;
    background: none;
    border: none;
    border-radius: var(--border-rd-400);
    padding: var(--size-300) 0.5em;
}

form.search-bar:focus-within{
    height: 3rem;
}

.search-submit{
    border: none;
    outline: none;
    background: none;
}

input[type="search"].search-input:focus{
    outline: none;
    border: 1px solid var(--accent-clr-300);
}

/* ::placeholder works for all except IE, the -ms-input-placeholder is for IE */
input[type="search"]::placeholder{
    color: var(--accent-clr-300);
    font-style: var(--_hover-style); 
}

input[type="search"]:-ms-input-placeholder {
    /* change at the same time as input[type="search"]::placeholder */
    color: var(--accent-clr-300) !important;
    font-style: var(--_hover-style) !important;
}

.search-submit:hover>img{
    filter: drop-shadow(var(--drop-shdw-700));
}

.search-submit:focus>img{
    filter: drop-shadow(0 0 1px red);
}

.search-submit>img{
    height: var(--_search-icn-size);
}



/* theme toggle button */
.header-B .website-theme{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
}

.dropdown-content[data-visible]{
    display: grid;
    background-color: #fff;
    border-radius: var(--border-rd-400);
    padding: var(--size-300);
    gap: var(--size-300);
}

.dropdown-content > span{
    color: black;
    display: flex;
    align-items: center;
    gap: var(--size-300);
    min-width: max-content;
    cursor: pointer;
}

.dropdown-content > span> img{
    display: inline-block;
    height: 20px;
    width: 30px;
}



main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr auto;
}

/* BOOKS */
.books{
    grid-column: 1;
    grid-row: 1/-1;
    background-color: rgb(247, 218, 174);
}

.bk-book{
    --bk-height: 320px;
    --bk-width:240px;
    --bk-inner-width:235px;
    --bk-inner-height:310px;
    --bk-text-padding:30px;
    --bk-corners-rnd: 3px;
    --bk-side-width:30px;
    --bk-transition: transform .5s;
    --bk-clr-shdw:rgba(0, 0, 0, 0.1);

    height: var(--bk-height);
    width: var(--bk-width);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    transition: var(--bk-transition);
}

.bk-book > div,
.bk-front > div {
    display: block;
    position: absolute;
}


.bk-front{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform .5s;
    transition: var(--bk-transition);
    -webkit-transform: translate3d(0, 0, calc(0.5 * var(--bk-side-width)));
    transform: translate3d(0,0,calc(0.5 * var(--bk-side-width)));
    z-index: 10;
}

.bk-front > div{
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.bk-page {
    -webkit-transform: translate3d(0,0,calc(calc(var(--bk-side-width)/2)-1px));
    transform: translate3d(0, 0, calc(calc(var(--bk-side-width)/2)-1px));
    display: none;
    width: var(--bk-inner-width);
    height: var(--bk-inner-height);
    top: calc(calc(var(--bk-height) - var(--bk-inner-height))/2);
    left: 1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 9;
}   

.bk-front>div,
.bk-back,
.bk-front {
    width: var(--bk-width);
    height: var(--bk-height);
}

.bk-top,
.bk-bottom {
    width: var(--bk-inner-width);
    height: var(--bk-side-width);
    top: -15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bk-back {
    -webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, calc(0.5 * var(--bk-side-width)));
    transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, calc(0.5 * var(--bk-side-width)));
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: var(--bk-corners-rnd) 0 0 var(--bk-corners-rnd);
}

.bk-cover-back {
    background: #000;
    -webkit-transform: rotate3d(0, 1, 0, -179deg);
    transform: rotate3d(0, 1, 0, -179deg);
}

.bk-right {
    height: var(--bk-inner-height);
    top: calc(calc(var(--bk-height) - var(--bk-inner-height)) / 2);
    -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, var(--bk-inner-width));
    -moz-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, var(--bk-inner-width));
    transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, var(--bk-inner-width));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bk-right,
.bk-left {
    width: var(--bk-side-width);
    left: calc(-0.5 * var(--bk-side-width));
}

.bk-left {
    height: var(--bk-height);
    -webkit-transform: rotate3d(0,1,0,-90deg);
    transform: rotate3d(0, 1, 0, -90deg);
}

.bk-top {
    -webkit-transform: rotate3d(1,0,0,90deg);
    transform: rotate3d(1, 0, 0, 90deg);
}

.bk-bottom {
    -webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,var(--bk-inner-height));
    transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, var(--bk-inner-height));
}

/* book transform  classes*/
.bk-book:hover {
    -webkit-transform: rotate3d(0,1,0,35deg);
    transform: rotate3d(0, 1, 0, 35deg);
}

.bk-viewinside .bk-front {
    -webkit-transform: translate3d(0,0,calc(0.5 * var(--bk-side-width))) rotate3d((0,1,0,-160deg));
    transform: translate3d(0, 0, calc(0.5 * var(--bk-side-width))) rotate3d(0, 1, 0, -160deg);
}

.bk-book.bk-viewinside {
    /* keep from hover behvaiour when the book is open */
    -webkit-transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
    transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
}

.bk-book.bk-viewback {
    -webkit-transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
    transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
}

/* colors and content */

.bk-page,
.bk-right,
.bk-top,
.bk-bottom {
    background-color: #fff;
}

.bk-front > div {
    border-radius: 0 var(--bk-corners-rnd) var(--bk-corners-rnd) 0;
    box-shadow: inset 4px 0 10px var(--bk-clr-shdw);
}

.bk-front::after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}

.bk-cover::after,
.bk-back::after {
    --bind-crease-spacing: 10px;
    --bind-crease-width: 3px;

    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: var(--bind-crease-width);
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-back::after {
    left: auto;
    right: var(--bind-crease-spacing);
}

.bk-left>h2 {
    width: var(--bk-height);
    height: var(--bk-side-width);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(calc(-1 * var(--bk-side-width)));
    transform: rotate(90deg) translateY(calc(-1 * var(--bk-side-width)));

    color: white;
    font-size: 15px;
    line-height: var(--bk-side-width);
    padding-right: 10px;
    text-align: right;
}

.bk-page {
    box-shadow: 2px 0 2px 0 black, inset 9px 0 8px -8px rgb(100,100, 100);
    clip-path: inset(0 0 0 1px);
}

.bk-page .bk-content {
    position: absolute;
    top: 30px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    padding: var(--bk-text-padding);
    pointer-events:none;
}

.bk-page .bk-content .bk-quote {
    text-align: center;
    font-style: italic;
}

.bk-page .bk-content .bk-quote::before,
.bk-page .bk-content .bk-quote::after {
    position: absolute;
    color: grey;
    font-size: 36px;
}

.bk-page .bk-content .bk-quote::before {
    content: '\201C';
    left: 0;
    top: 0;
}

.bk-page .bk-content .bk-quote::after {
    content: '\201E';
    right: 0;
}

.bk-front .bk-cover h2 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    top: 10%;
    left: 10%;
    padding: var(--bk-text-padding);
    background: rgba(255,255,255,0.2);
    color: #fff;
    text-shadow: 0 -1px 0 var(--bk-clr-shdw);
}

.bk-front .bk-cover h2 span:first-child {
    display: block;
}

.bk-front .bk-cover h2 span:first-child,
.bk-left h2 span:first-child {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    padding-right: 20px;
}

.bk-back > p {
    color: #fff;
    font-size: 13px;
    padding: var(--bk-text-padding);
    text-align: center;
    font-weight: 700;
}

.bk-book,
.bk-front>div,
.bk-back,
.bk-left,
.bk-front::after {
    background-color: #ff924a;
}


/*  */
.announcements{
    grid-column: 2;
    grid-row: 1;
}

.daily-recommendation{
    grid-column: 2;
    grid-row: 2;
}

/* UTILITIES */

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.section-header{
    text-align: center;
    font-weight: 700;
}

.rnd-btn {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.3rem var(--size-300);
    box-shadow: 0 0 1px 1px white;
    border-radius: var(--border-rd-400);
}

.rnd-btn:hover{
    background: rgba(255, 255, 255, 0.8);
}

/* MEDIA QUERIES */

@media (max-width:50em){
    .primary-header{
        grid-template-columns: 1fr;
    }

    .primary-header .header-A{
        justify-content: center;
    }

    .primary-header .header-B{
        justify-content: center;
    }

    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    
    .announcements{
        grid-column: 1;
        grid-row: 1;
    }
    .daily-recommendation{
        grid-row: 2;
        grid-column: 1;
    }

    .books{
        grid-area: 3/1;
    }
}

@media (max-width:420px) {
    .header-B .top-container{
        grid-template-columns: max-content max-content;
    }

    .header-B .top-container a:first-of-type{
        grid-column: 1/3;
    }

}