/* VARS */

:root{
    --nav-min-width:40px;
    --nav-expanded-width: 250px;
    --footer-height:100px;
    --border-rd-400: 15px;
    --drop-shdw-700:1px 1px 1px rgb(45, 45, 45);
    --accent-clr-300:rgb(120, 120, 120);

    --nav-width: var(--nav-min-width);
    --size-300:.5rem;
    --post-it-size:250px;
    --post-it-spacing: 10px;
}



/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    width: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    /* display: block; */
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* GENERAL STYLING */

body{
    display: grid;
}

.flex-container {
    display: flex;
}


/* SIDEBAR */
.sidebar{
    --_bar-spacing:1em;
    --nav-toggle-size:50px;
    --_nav-img-size:30px;

    height: 100%;
    width: var(--nav-width) ;
    background-color: antiquewhite;
    padding: var(--_bar-spacing) 0;

    display: flex;
    flex-direction: column;
    gap: var(--_bar-spacing);
    align-items: center;
    transition: width .3s ease-in-out;
} 

.sidebar>button{
    all: unset;
    cursor: pointer;
}

.sidebar > ul{
    display: grid;
    gap: inherit;
    list-style: none;
}

.sidebar li>a, .sidebar>button{
    display: flex;
    align-items: center;
    gap: var(--_bar-spacing);
    text-decoration: none;
    color: black;
}

.sidebar>button>img#nav-toggle-img{
    content:url("./img/close-book.svg");
    height: var(--nav-toggle-size);
    width: var(--nav-toggle-size);
}

.sidebar>button[data-expanded]>img#nav-toggle-img {
    content: url("./img/open-book.svg");
}

.sidebar .nav-img{
    height: var(--_nav-img-size);
    width: var(--_nav-img-size);
}

.sidebar li>a:hover, .sidebar button:hover{
    filter: drop-shadow(var(--drop-shdw-700));
}

.sidebar .page-name,
.sidebar>button>span {
    display: none;
}

.sidebar > .nav-toggle[data-expanded] >span,
.sidebar>.nav-toggle[data-expanded] + ul .page-name{
    display: inline-block;
}

/* FOOTER */
.website-footer{
    min-height: fit-content;
    height: var(--footer-height);
    background-color: rgb(148, 152, 152);
}

/* HEADER AND MAIN */
.container{
    height: 100%;
    height: auto;
    display: grid;
    flex-grow: 1;
    grid-template-rows: clamp(min-content, 1fr, 300px) minmax(min-content, 4fr);
}

/* HEADER */
.primary-header{
    --_header-spacing-400: 1rem;
    grid-row: 1;
    background-color: rgb(191, 233, 233);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--_header-spacing-400);
}

.header-A{
    display: grid;
}

.header-A .logo{
    font-size: 3rem;
}

.header-B{
    display: grid;
    gap: var(--_header-spacing-400);
    justify-items: center;
}

.header-B > .top-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: var(--_header-spacing-400);
    justify-content: center;
    align-items: center;
}



/* search button */
form.search-bar{
    --_search-icn-size:1.5rem;
    display: flex;
    gap: 0.2em;

    min-height: calc(var(--_search-icn-size)*1.5);
    height: 1rem;
    min-width: min(40ch, 100%);
    max-width: 55ch;
}
input[type="search"].search-input{
    --_hover-style:italic;
    flex-grow: 1;
    background: none;
    border: none;
    border-radius: var(--border-rd-400);
    padding: var(--size-300) 0.5em;
}

form.search-bar:focus-within{
    height: 3rem;
}

.search-submit{
    border: none;
    outline: none;
    background: none;
}

input[type="search"].search-input:focus{
    outline: none;
    border: 1px solid var(--accent-clr-300);
}

/* ::placeholder works for all except IE, the -ms-input-placeholder is for IE */
input[type="search"]::placeholder{
    color: var(--accent-clr-300);
    font-style: var(--_hover-style); 
}

input[type="search"]:-ms-input-placeholder {
    /* change at the same time as input[type="search"]::placeholder */
    color: var(--accent-clr-300) !important;
    font-style: var(--_hover-style) !important;
}

.search-submit:hover>img{
    filter: drop-shadow(var(--drop-shdw-700));
}

.search-submit:focus>img{
    filter: drop-shadow(0 0 1px red);
}

.search-submit>img{
    height: var(--_search-icn-size);
}



/* theme toggle button */
.header-B .website-theme{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
}

.dropdown-content[data-visible]{
    display: grid;
    background-color: #fff;
    border-radius: var(--border-rd-400);
    padding: var(--size-300);
    gap: var(--size-300);
}

.dropdown-content > span{
    color: black;
    display: flex;
    align-items: center;
    gap: var(--size-300);
    min-width: max-content;
    cursor: pointer;
}

.dropdown-content > span> img{
    display: inline-block;
    height: 20px;
    width: 30px;
}



main{
    display: grid;
    grid-template-columns: 3fr minmax(max-content, 1fr);
    grid-template-rows: max-content max-content auto;
    row-gap: 3rem;
}

/* BOOKS */
/* separate file for .bk-div styling >> books.css */

.books {
    grid-column: 1;
    grid-row: 1/-1;
    background-color: rgb(247, 218, 174);    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--bk-width), 1fr));
    grid-template-rows: min-content;
    grid-auto-rows: auto;
    padding: 1rem;
    row-gap: 3rem;
    column-gap: 1rem;
    justify-items: center;
    justify-content: center;
}

.books > h3 {
    grid-column: 1/-1;
    grid-row: 1;
}


/* ANOUNCEMENTS */
.announcements{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    position: relative;
}

.announcement-header {
    font-size: 1.5rem;
    text-align: center;
}

/* button.expand-tack{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    box-shadow: inset -1px -1px 3px 0 rgb(120, 120, 120), 1px 1px 2px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: rgb(45, 45, 45);
    text-shadow: 1px 0px 0px rgb(120, 120, 120);
} */

.post-it{
    width: var(--post-it-size);
    height: var(--post-it-size);
    background: #ff7eb9;
    border: solid #ff65a3;
    float: left;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
    scroll-snap-align: start;
}

.post-it-inner {
    margin: 15px;
    transform: rotate(-2deg);
}

.announcements-container{
    max-width: calc(var(--post-it-size) + var(--post-it-spacing));
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--post-it-size);
    grid-template-rows: calc(var(--post-it-size) + var(--post-it-spacing));
    gap: var(--post-it-spacing);
    padding: 0 var(--post-it-spacing);
    overscroll-behavior-x: contain;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.announcements-container::-webkit-scrollbar{
    display: none;
}

.thumbnails-container {
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnails-container .thumbnail {
    --_thumbnail-size: 10px;
    height: var(--_thumbnail-size);
    width: var(--_thumbnail-size);
    background-color: #ff7eb9;
    cursor: pointer;
}

.thumbnails-container .thumbnail.highlighted {
    background-color: black;
}

button.left-arrow,
button.right-arrow {
    --_arrow-position: calc(((100% - var(--post-it-size)) / 2) - 20px);
    position: absolute;
    top: 50%;
    translate: 0 -40%;
    background: transparent;
    border: none;
}

button.right-arrow > img, 
button.left-arrow > img {
    --_hover-move-dis:10px;
    height: 40px;
    opacity: .5;
    filter: drop-shadow(var(--drop-shdw-700));
    transition: all ease-in-out 400ms;
    
}

button.right-arrow:hover>img,
button.left-arrow:hover>img {
    opacity: 1;
    transform: translateX(var(--_hover-move-dis));
}

button.left-arrow:hover>img {
    transform: translateX(calc(-1* var(--_hover-move-dis)));
}

button.right-arrow:disabled >img,
button.right-arrow:disabled:hover >img,
button.left-arrow:disabled >img,
button.left-arrow:disabled:hover >img {
    opacity: .5;
    filter: grayscale(.7) brightness(.3) drop-shadow(var(--drop-shdw-700));
    transform: none;
}

button.left-arrow {
    left: var(--_arrow-position);
}
button.right-arrow {
    right: var(--_arrow-position);
}


/* RECOMMENDATION */
.daily-recommendation{
    grid-column: 2;
    grid-row: 2;
}

/* UTILITIES */

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.section-header{
    text-align: center;
    font-weight: 700;
}

.rnd-btn {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.3rem var(--size-300);
    box-shadow: 0 0 1px 1px white;
    border-radius: var(--border-rd-400);
}

.rnd-btn:hover{
    background: rgba(255, 255, 255, 0.8);
}

/* MEDIA QUERIES */

@media (max-width:50em){
    .primary-header{
        grid-template-columns: 1fr;
    }

    .primary-header .header-A{
        justify-content: center;
    }

    .primary-header .header-B{
        justify-content: center;
    }

    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    
    .announcements{
        grid-area: 1/ 1;
    }
    .daily-recommendation{
        grid-area: 2 /1;
    }

    .books{
        grid-area: 3 / 1;
    }
}

@media (max-width:420px) {
    .header-B .top-container{
        grid-template-columns: max-content max-content;
    }

    .header-B .top-container a:first-of-type{
        grid-column: 1/3;
    }

}